.user-timeline {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.user-timeline .timeline {
  position: relative;
  width: 100%;
  margin: 0px 0px;
}

.user-timeline .left-container {
  left: 0;
}

.user-timeline .right-container {
  left: 50%;
  text-align: right;
}


.user-timeline .container {
  padding: 1px 1px;
  position: relative;
  width: 50%;
  background: rgba(255, 255, 255, 0.3);
  height: 91.5px;
}

.user-timeline .text-box{
  padding: 0px 18px;
  background: #fff;
  position: relative;
  border-radius: 6px;
  font-size: 15px;
}

.user-timeline .left-container i {
  position: absolute;
  width: 40px;
  border-radius: 50%;
  right: -31px;
  top: 12px;
  z-index: 10;
  font-size: 18px;
  font-weight: 900;
}

.user-timeline .right-container i {
  left: -9px;
  position: absolute;
  border-radius: 50%;
  z-index: 10;
  top: 18px;
  font-size: 18px;
  font-weight: 900;
  
}


/* Adjust the vertical line to exclude start and end points */
.user-timeline .timeline::after {
  content: '';
  position: absolute;
  width: 4px;
  height: calc(100% - 78px); /* Reduce the height to avoid the start and end points */
  background: #d4e8ff;
  top: 20px; /* Start the line slightly below the first point */
  left: 50%;
  margin-left: -2px;
}

/* Offset the first and last icons from the line */
.user-timeline .container:first-child .icon-with-border::after {
  display: none;
}

.user-timeline .container:last-child .icon-with-border::after {
  display: none;
}


/* Style for the "Delivered" icon */
.user-timeline .delivered-icon {
  color: green; /* Or any color to indicate successful delivery */
  
}


/* Style for the latest update's icon */
.user-timeline .latest-icon {
  color: #8999ac; 
}

/* Style for older updates' icons */
.user-timeline .older-icon {
  color: #d4e8ff;
}

/* Style for the white circle */
.user-timeline .white-circle {
  color: white;
  position: absolute;
  font-size: 18px; /* Adjust size to match the icon */
}

/* Style for the green check */
.user-timeline .green-check {
  color: green;
  position: absolute;
  font-size: 18px; /* Adjust size to sit inside the white circle */
}


.user-timeline .s-status {
  margin-bottom: -20px;
  padding-bottom: 0;
  font-size: 14px;
}

/* Style for time text under location */
.user-timeline .time-text {
  display: block;
  color: gray; /* Or any color you prefer */
  font-size: 12px; /* Slightly smaller font size */
  margin-top: 5px; /* Add some spacing from the location text */
}
